.employment-type-list {
  list-style-type: none;
  padding-left: 0;
  color: #ffffff;
}
.employment-type-heading {
  color: #ffffff;
  font-size: 1rem;
}
.employment-type-list li {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.input-type-filter {
  margin: 0;
  cursor: pointer;
}
.input-label {
  margin: 0;
  cursor: pointer;
}
