.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 90vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.home-text-container {
  color: #ffffff;
  width: 50%;
  margin-left: 30px;
}
.find-jobs-btn {
  border: 0;
  border-radius: 5px;
  padding: 8px;
  background-color: #4f46e5;
  color: #ffffff;
  cursor: pointer;
}
